.input label {
  margin-right: 4px;
  font-size: 16px;
}

.input input {
  padding: 8px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #BBBBBB;
  width: 80px;
  text-align: right;
  font-size: 16px;
}

.input input:focus-visible {
  outline-width: 0;
}

.input.error input {
  border: 1px solid #FF2020;
}