.button {
  background-color: #0095da;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  color: #fffdfa;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #007ab3;
}
