body {
  background-color: #fffdfa;
  font-family: Arial, Helvetica, sans-serif;
  color:#19191b;
  font-size: 16px;
}

.container {
  width: 800px;
  margin: auto;
}

.align-center {
  text-align: center;
}

table {
  margin: 64px auto 64px;
  width: 75%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  border-bottom: 1px solid #cecedd;
}

td, th {
  padding: 8px;
}

th {
  text-align: left;
}

button {
  background-color: #0095da;
  border: none;
  border-radius: 4px;
  padding: 16px;
  font-weight: bold;
  color: #fffdfa;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #007ab3;
}

.flex-container {
  display: flex;
  justify-content: center;
}
