body {
  background-color: #fffdfa;
  font-family: Arial, Helvetica, sans-serif;
  color:#19191b;
}

.container {
  width: 800px;
  margin: auto;
}

.align-center {
  text-align: center;
}

table {
  margin: auto;
  width: 75%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr {
  border-bottom: 1px solid #cecedd;
}

td, th {
  padding: 8px;
}

th {
  text-align: left;
}
